$buttonsize: 0.5rem

.img_button
  border: none
  padding: 6px 0 0 5px
  margin: 0
  background: transparent
  outline: transparent
  &:hover
    opacity: 0.5

.regular_button
  font-size: 16px
  border: 1px solid white
  background: white
  outline-color: white
  color: black !important
  padding: 6px 14px
  border-radius: 4px
  cursor: pointer

.small_button
  font-size: 12px
  border: none
  background: transparent
  outline-color: transparent
  color: white !important
  padding: 3px 7px
  border-radius: 4px
  cursor: pointer

.config_wrapper
  display: block
  margin: 0 20px
  padding-top: 25px
  text-align: left

  .regular_button
    font-size: 12px

  .config_item_wrapper
    display: block
    margin: 0 0 10px 0
    padding-bottom: 5px
    border-bottom: 1px solid gray
    min-height: 40px

    .config_item_title_wrapper
      display: inline-block
      max-width: 75%
      float: left
      margin-bottom: 5px

      span
        display: block
      .config_item_title
        font-size: 12px
        font-weight: bold
      .config_item_subtitle
        font-size: 10px

    .config_item_input
      display: block
      padding: 3px 5px
      border-radius: 2px
      margin-right: 5px
      font-size: 12px
      direction: ltr

      &:not(:focus)
        direction: rtl

    .config_item_add
      display: inline-block
      float: right

    .config_item_clip_list
      display: block
      list-style: none
      padding: 0
      margin: 0
      clear: both
      li
        font-size: 12px
        display: flex

        input
          flex-grow: 1
          margin-top: 5px
          margin-right: 0
          background-color: #4d4d4d !important

.main
  display: block
  margin: 0
  padding-top: 40px
  text-align: center

  p
    padding: 0 20px

  input[type="text"]
    padding: 5px 10px
    border-radius: 2px
    margin-right: 5px
    font-size: 16px

    &:active
      opacity: 0.7


.divisor
  margin-top: 20px

.img_divisor
  width: 100%
  margin-top: 24px

.footnote
  text-align: center
  display: block
  padding: 14px
  font-size: 10px

.secondary
  padding-top: 40px
  display: block
  text-align: center

  .statePin
    width: 8px
    height: 8px
    border-radius: 8px
    text-indent: -9999px
    margin-right: 6px
    display: inline-block

.titlebar_macos
  width: 100%
  height: 1.4rem
  position: fixed
  display: flex
  flex-direction: row
  z-index: 99999
  -webkit-app-region: drag

.opblock-tag
  border-top: 2px solid white
  border-bottom: 2px solid white

.titlebar_win
  width: 100%
  height: 2rem
  position: fixed
  top: 0
  background-color: #303030
  display: flex
  flex-direction: row-reverse
  -webkit-app-region: drag
  border-bottom: 1px solid rgba(255,255,255,0.1)
  z-index: 10000

.buttons_win
  display: flex
  flex-direction: row

.buttons_mac
  display: flex
  flex-direction: row
  padding-left: 8px
  align-items: center
  margin-top: 4px

.buttons_close
  padding: $buttonsize
  border-radius: 100vw
  margin: 0 3px 0 0
  background-color: crimson
  -webkit-app-region: no-drag
  opacity: 0.9
  transition-duration: 150ms
  &:hover
    opacity: 0.5

.buttons_minmax
  padding: $buttonsize
  border-radius: 100vw
  margin: 0 3px 0 0
  background-color: mediumseagreen
  -webkit-app-region: no-drag
  opacity: 0.9
  transition-duration: 150ms
  &:hover
    opacity: 0.5
    transition-duration: 150ms

.buttons_min
  padding: $buttonsize
  border-radius: 100vw
  margin: 0 3px 0 0
  background-color: coral
  -webkit-app-region: no-drag
  opacity: 0.9
  transition-duration: 150ms
  &:hover
    opacity: 0.5
    transition-duration: 150ms

.spacer
  width: 100%
