$buttonsize: 0.5rem

.main
  display: block
  margin: 0 40px
  padding-top: 40px
  text-align: center

  input[type="text"]
    padding: 5px 10px
    border-radius: 2px
    margin-right: 5px
    font-size: 16px

  button
    font-size: 16px
    border: 1px solid white
    background: white
    outline-color: white
    color: black !important
    padding: 6px 14px
    border-radius: 4px

    &:active
      opacity: 0.7


.divisor
  margin-top: 20px

.img_divisor
  width: 100%
  margin-top: 24px

.secondary
  padding-top: 40px
  display: block
  text-align: center

  .statePin
    width: 8px
    height: 8px
    border-radius: 8px
    text-indent: -9999px
    margin-right: 6px
    display: inline-block

.titlebar_macos
  width: 100%
  height: 1.4rem
  position: fixed
  display: flex
  flex-direction: row
  z-index: 99999
  -webkit-app-region: drag

.opblock-tag
  border-top: 2px solid white
  border-bottom: 2px solid white

.titlebar_win
  width: 100%
  height: 2rem
  position: fixed
  top: 0
  background-color: #303030
  display: flex
  flex-direction: row-reverse
  -webkit-app-region: drag
  border-bottom: 1px solid rgba(255,255,255,0.1)
  z-index: 10000

.buttons_win
  display: flex
  flex-direction: row

.buttons_mac
  display: flex
  flex-direction: row
  padding-left: 8px
  align-items: center
  margin-top: 4px

.buttons_close
  padding: $buttonsize
  border-radius: 100vw
  margin: 0 3px 0 0
  background-color: crimson
  -webkit-app-region: no-drag
  opacity: 0.9
  transition-duration: 150ms
  &:hover
    opacity: 0.5

.buttons_minmax
  padding: $buttonsize
  border-radius: 100vw
  margin: 0 3px 0 0
  background-color: mediumseagreen
  -webkit-app-region: no-drag
  opacity: 0.9
  transition-duration: 150ms
  &:hover
    opacity: 0.5
    transition-duration: 150ms

.buttons_min
  padding: $buttonsize
  border-radius: 100vw
  margin: 0 3px 0 0
  background-color: coral
  -webkit-app-region: no-drag
  opacity: 0.9
  transition-duration: 150ms
  &:hover
    opacity: 0.5
    transition-duration: 150ms

.spacer
  width: 100%
